# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.virtualenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyCharm IDE files
.idea/

# Environment variables and settings files
.env
*.env

# Logs and debugging files
*.log
debug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Test results
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Cache and temporary files
*.tmp
*.bak
*.swp
*.swo
*.~

# System-specific files
.DS_Store
Thumbs.db

# Configuration files with credentials
/configs/soda_library_configs
/configs/soda_progammatic_checks_configs

/checks/*
/input_schemas/*
